<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="Our Coffee">
                <h2 style="text-align: center;">☕︎ BREW SELECTION ☕︎</h2>

                <% if (coffees.length > 0) { %>
                    <% coffees.forEach(coffee => { %>
                        <a class="single" href="/coffees/<%= coffee._id %>" style="display: inline-block; margin-left: 50px; margin-top: 25px;">
                            <img src="<%= coffee.imgUrl %>" alt="" style="width: 150px; height: 150px; border-radius: 100%; transition: transform 0.3s ease-in-out;">
                        
                            <style>
                                /* CSS for hover effect */
                                img:hover {
                                    transform: scale(1.1); /* Increase scale by 10% on hover */
                                }
                            </style>                            
                            <h3 class="title">
                                <%= coffee.coffeeName %>
                            </h3>
                            <p class="snippet">
                                Price: <%= coffee.price %> Baht
                            </p>
                        </a>
                        <% }) %>
                            <% } else { %>
                                <p>There are no menus to display...</p>
                                <% } %>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>