<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="create-blog content" style="max-width: 400px; margin: 0 auto;">
                <form id="update_data" action="/coffees/update/<%= coffee._id %>" method="post" style="width: 100%;">
                    <label for="coffeeName" style="font-size: 16px;">Coffee Name:</label>
                    <input type="text" id="coffeeName" name="coffeeName" style="width: calc(100% - 20px); padding: 8px; font-size: 14px;" required value="<%= coffee.coffeeName %>"><br><br>

                    <label for="price" style="font-size: 16px;">Price:</label>
                    <input type="text" id="price" name="price" style="width: calc(100% - 20px); padding: 8px; font-size: 14px;" required value="<%= coffee.price %>"><br><br>

                    <label for="details" style="font-size: 16px;">Detail:</label>
                    <textarea id="details" name="details" style="width: calc(100% - 20px); padding: 8px; font-size: 14px;" required><%= coffee.details %></textarea><br><br>

                    <label for="imgUrl" style="font-size: 16px;">Image URL:</label>
                    <input type="text" id="imgUrl" name="imgUrl" style="width: calc(100% - 20px); padding: 8px; font-size: 14px;" required value="<%= coffee.imgUrl %>"><br><br>
                    <input type="submit" value="Save" style="width: 100%; padding: 10px; font-size: 16px; background-color: #544035; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
                </form>
            </div>
            <%- include("./partials/footer.ejs") %>
    </body>

</html>